@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: rgb(88 88 146 / 48%);
}

.navbar img {
  width: 70px;
  height: 70px;
}
.navbar-brand {
  font-size: 27px;
  text-transform: uppercase;
  font-weight: 700;
  white-space: break-spaces;
}

.card {
  border-radius: 30px;
  border: none;
  background-color: #fff;
  box-shadow: 0px -20px 175px 1px rgb(80 48 56 / 30%),
    0px 246px 147px rgb(80 48 56 / 5%), 0px 109px 109px rgb(80 48 56 / 9%),
    0px 27px 60px rgb(80 48 56 / 10%), 0px 0px 0px rgb(80 48 56 / 10%);
  padding: 40px !important;
}

.card p{
  font-weight: 700;
  font-size: 20px;
}

.card span{
  font-weight: 500;
  font-size: 16px;
  padding-left: 8px;
  font-size: 20px;
}

h4 {
  font-size: 30px;
  font-weight: 700;
  color: rgb(15, 44, 77);
}

.icon-card{
  width: 45px;
  height: auto;
}
